<header>
    <div>
        <nav class="nav-bar navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="row">
                <div class="col s6">
                    <a class="brand-logo left">INDRA NEWS</a>
                </div>
                <div class='col s3'>
                    <a routerLink="/news" class="rigth">Ver noticias</a>
                </div>
                <div class='col s3'>
                    <a routerLink="/addNews" class="rigth">Crear noticia</a>
                </div>
            </div>

        </nav>
    </div>
</header>