.title{
    text-align: center;
}

.textareaBody {
    width: 100%;
    height: 200px;
    overflow: auto;
    padding: 5px 5px;
}

.textareaSummary {
    width: 100%;
    height: 60px;
    overflow: auto;
    padding: 5px 5px;
}

.textareaHeadLine {
    width: 100%;
    height: 60px;
    overflow: auto;
    padding: 5px 5px;
}

.button{
    align-content: center;
    align-items: center;
    margin: 0 auto;
    display: inline-block;
}
